-# in app/views/movies/similar.html.haml

%h2 Movies with Same Director as #{@movie.title}

%table#movies
  %thead
    %tr
      %th Movie Title
      %th Rating
      %th Release Date
      %th Director
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= movie.director
        %td= link_to "More about #{movie.title}", movie_path(movie)
        
= link_to 'Back', movie_path(@movie)

